@{
}

@model WebApplication1.Models.AddStudentViewModel

<h1 class="mt-5 mb-4">Add Student</h1>

<div class="card border-primary">
    <div class="card-body">
        <form method="post">
            <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input type="text" class="form-control" id="Name" placeholder="Enter name" asp-for="Name" />
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label">Email</label>
                <input type="email" class="form-control" id="Email" placeholder="Enter email" asp-for="Email" />
            </div>
            <div class="mb-3">
                <label for="Phone" class="form-label">Phone</label>
                <input type="tel" class="form-control" id="Phone" placeholder="Enter phone number" asp-for="Phone" />
            </div>
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="Subscribed" asp-for="Subscribed" />
                <label class="form-check-label" for="Subscribed">Subscribe</label>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>